<ion-card 
  color="main-color"
  class="card"
>
  <ion-card-header class="header">
    <div class="profile">
      <div class="content">
        <ng-content select="[button-back]"></ng-content>
        <span class="profile-font">Profile</span>
        <ng-content select="[button-profile]"></ng-content>
      </div>
      <img class="photo" [style.background-image]="'url(' + photo + ')'" />
      <span class="name mq-font-bold">{{nameUser}}</span>
      <span class = "role" [style] = "nameStyle">{{roleUser}}</span>
    </div>
  </ion-card-header>
  <ion-card-content class="ion-no-padding">
    <div class="content-body">
      <div class="content-hours">
        <ng-content select="[component-hours]"></ng-content>
      </div>
      <div class="content-data">
        <ng-content select="[component-data-time]"></ng-content>
      </div>
    </div>
    <ng-content></ng-content>
  </ion-card-content>
</ion-card>