<ion-header>
  <toolbar 
    [title]="state"
    role = "admin"
  >
  </toolbar>
 </ion-header>
 
 <ion-content>
   <div *ngIf = "isState(state);then esStaff else esBuilding"></div>
   <ng-template #esStaff>
     <div class="mq-background-gray">
      <div class="content-staff">
        <span>Staff</span>
        <div class="mq-dflex ion-align-items-center">
          <span style="display: flex;align-items: initial;">Filter</span>
          <ion-icon 
            role="button" 
            name="chevron-down-outline" 
            class="size-icon" 
            (click)="selectEmployee()"
          ></ion-icon>
        </div>
      </div>
       <div 
         *ngFor="let employee of employees;let index = index; trackBy: trackByFn"
         class="content-card-staff"
       >
         <card-staff 
          class="card-size"
            [firstName] = "employee.firstName"
            [lastName] = "employee.lastName"
            [role] = "employee.role.nameRole"
            [posistion] = "employee.position.namePosition" 
            [photo] = "employee.avatar"  
         >
         <div>
           <ion-buttons slot="end">
             <ion-button style="padding-right: 25px;" (click)="goToStaff(employee.role.nameRole, employee.userName)">
               <ion-icon role="button" name="chevron-forward-outline" class="size-icon"></ion-icon>
             </ion-button>
           </ion-buttons>
         </div>
         </card-staff>
       </div>
       <div  *ngIf="employees.length === 0">
        <ion-list>
          <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
            <ion-thumbnail slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
     </div>
   </ng-template>
   <ng-template #esBuilding>
     <div class="mq-background-gray"> 
       <div class="content-building">
         <span>Building</span>
       </div>
       <div 
         *ngFor="let building of buildings"
         class="content-card-building"
       >
         <card-building
          class="card-size"
          [nameBuilding] = "building.nameBuilding"
          [role] = "building.user.role.nameRole"
          [firstName] = "building.user.firstName"
          [lastName] = "building.user.lastName"
          [address] = "building.address"  
          [city] = "building.city"  
         >
         <div>
           <ion-buttons slot="end">
             <ion-button style="padding-right: 25px;" (click)="goToBuildingDetail(building.buildingId, building.nameBuilding)">
               <ion-icon role="button" name="chevron-forward-outline" class="size-icon"></ion-icon>
             </ion-button>
           </ion-buttons>
         </div>
         </card-building>
       </div>
       <div  *ngIf="buildings.length === 0">
        <ion-list>
          <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
            <ion-thumbnail slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
     </div>
   </ng-template>
 </ion-content>
 <tab-admin></tab-admin>
 