.content-hours {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  background: #ffff;
  display: flex;
  justify-content: center;
  align-content: end;
  align-items: center;
  flex-direction: column;
}

.hours {
  font-size: 40px;
  height: 36px;
  justify-content: center;
  display: flex;
  align-items: center;
}