.content-hours {
  height: 105px;
  width: 105px;
  border-radius: 50%;
  background: #ffff;
  display: flex;
  justify-content: center;
  align-content: end;
  align-items: center;
  flex-direction: column;
}

.hours {
  font-size: 50px;
  height: 46px;
  justify-content: center;
  display: flex;
  align-items: center;
}