<div class="mq-content ion-align-items-center mq-dflex" style="flex-direction: column;" >
  <span 
    class="mq-text-color weekly" 
    [style.color]="colorText"
  >
    {{time | date:'EE' | uppercase}}
  </span>
  <span 
    class="mq-text-color date mq-font-bold ion-justify-content-center" 
    [style.color]="colorText" [style.font-size]="fontSize" [style.line-height]="lineHeight"
  > 
    {{time | date:'d'}}
  </span>
  <span 
    class="mq-text-color time ion-justify-content-center" 
    [style.color]="colorText" 
  >
    {{time | date:'shortTime'}}
  </span>
</div>