<ion-content class="mq-background-color-gray">
  <ion-grid class="mq-content mq-background-color-gray ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
       <card-profile
        [photo] = "employee.photo" 
        [nameUser] = "employee.name"
        [roleUser] = "employee.role" 
        [positionUser] = "employee.position"
       >
       <total-hours 
        [hours] = "employee.hours"
        component-hours
      >
      </total-hours>
      <data-time
        colorText = "#ffff!important"
        component-data-time
      >
      </data-time>
       </card-profile>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <div class="mq-text-color-gray approve mq-background-gray">
          <div *ngIf="employee.isMensageActive">
            <span class="mq-font-bold text">Congratulation you achievied {{employee.hoursWorked}} hours</span>
          </div>
          <span>Time Management</span>
        </div>
      </ion-col>
    </ion-row>
    <div *ngIf = "statusStart">
      <start-shift 
        (stateEvent)="start($event)"
        [weeklyHours] = "employee.weekHours"
        [weeklyTotalHours] = "employee.weeklyTotalHours"
        [userName] = "employee.userName"
      >
      </start-shift>
    </div>
    <div *ngIf = "statusIn">
      <clock-in 
        (dataEvent)="startShift($event)"
        [token] = "employee.token"
        [userName] = "employee.userName"
      >
      </clock-in>
    </div>
    <div *ngIf = "statusOut">
      <clock-out 
        (stateEvent)="endShift($event)"
        [data]="dataClockOut"
        [token] = "employee.token"
      ></clock-out>
    </div>
  </ion-grid>
</ion-content>
