<ion-content>
    <ion-grid class="welcom-img"> 
      <ion-row style="height:100%">
        <ion-col class="ion-no-padding">
        <div>
          <ion-button 
          color="#0514AF" 
          style="margin-top: 2rem; position: absolute;"
        >
          <ion-back-button 
            mode = "ios"
            text="" 
            defaultHref="admin"
            color="light"
          >
          </ion-back-button>  
        </ion-button>
        </div>
        <div class="welcome-content">
          <span class="letter-welcome mq-font-bold">WELCOME</span>
          <ion-item class="ion-margin-bottom"  color="button-login">
            <ion-icon name="person-circle-outline"  style="padding-right: 5px"></ion-icon>
            <ion-input type="text" [(ngModel)]="user.userName" placeholder="   Username" required></ion-input>
          </ion-item>
          <ion-item class="ion-margin-bottom" color="button-login">
            <ion-icon name="person-circle-outline"  style="padding-right: 5px"></ion-icon>
            <ion-input type="text" [(ngModel)]="user.name" placeholder="   Name" required></ion-input>
          </ion-item>
          <ion-item class="ion-margin-bottom" color="button-login">
            <ion-icon name="person-circle-outline"  style="padding-right: 5px"></ion-icon>
            <ion-input type="text" [(ngModel)]="user.lastName" placeholder="   Last name" required></ion-input>
          </ion-item>
          <ion-item class="ion-margin-bottom" color="button-login">
            <ion-icon name="mail"  style="padding-right: 5px"></ion-icon>
            <ion-input type="email" [(ngModel)]="user.email" placeholder="   Email" required></ion-input>
          </ion-item>
          <ion-item class="ion-margin-bottom" color="button-login">
            <ion-icon name="lock-closed-outline"  style="padding-right: 5px"></ion-icon>
            <ion-input type="password" [(ngModel)]="user.password" placeholder="   Password" required></ion-input>
          </ion-item> 
          <ion-item  class="ion-margin-bottom" color="button-login">
            <!--<ion-icon name="people"></ion-icon>-->
            <ion-label>Rol</ion-label>
            <ion-select (ionChange)="recoverRolValue($event)" mode="ios" multiple="false" interface="action-sheet" placeholder="Select One">
              <ion-select-option value="admin">Admin</ion-select-option>
              <ion-select-option value="employee">Employee</ion-select-option>
              <ion-select-option value="manager">Manager</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item class="ion-margin-bottom" color="button-login">
            <ion-label>Position</ion-label>
            <ion-select (ionChange)="recoverValue($event)" mode="ios" multiple="false" interface="action-sheet" placeholder="Select One">
              <ion-select-option value="Manager">Manager</ion-select-option>
              <ion-select-option value="Cleaner">Cleaner</ion-select-option>
              <ion-select-option value="Afternoon day porter">Afternoon day porter</ion-select-option>
              <ion-select-option value="Overnight supervisor">Overnight supervisor</ion-select-option>
              <ion-select-option value="Assistent supervisor">Assistent supervisor</ion-select-option>
              <ion-select-option value="Supervisor">Supervisor</ion-select-option>
            </ion-select>
          </ion-item>
          <br>
          <ion-button 
            type="submit"
            [ngClass]="{'button-style mq-font-bold':unActive(), 'button-style-activate mq-font-bold':activate()}"  
            expand="block" 
            fill="outline" 
            (click)="register(user)"
          > REGISTER
          </ion-button>
        </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>