ion-toolbar{
  --background:linear-gradient(180deg, #030A58, #0514AF)!important;
  height: var(--height, 100px);
  display: flex;
}

.sub-title {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  justify-content: center;
  padding-top: 10px;
}