<ion-header>
  <toolbar 
    title="Buildings"
    [subTitle] = "nameBuilding"
    role = "manager"
  >
  <ion-buttons 
    slot="end" 
    class="ion-padding-end" 
    button-profile
  >
  <ion-button (click)="goManager()">
    <ion-icon  color="light" name="person" ></ion-icon>
  </ion-button>
</ion-buttons>
  </toolbar>
 </ion-header>
 
 <ion-content>
     <div class="mq-content-background-gray">
        <div class="content-staff">
          <span style="margin-left: 22px">Manager</span>
        </div>
        <div 
          class="content-card-staff"
        >
          <card-staff 
            class="card-size"
              [firstName] = "manager.firstName"
              [lastName] = "manager.lastName"
              role = "manager"
          >
            <ion-buttons slot="end" (click)="goToProfileManager()">
              <ion-button style="padding-right: 25px;" >
                <ion-icon role="button" name="chevron-forward-outline" class="size-icon"></ion-icon>
              </ion-button>
            </ion-buttons>
          </card-staff>
        </div>
        <div class="content-staff mq-background-gray" *ngIf="isActive">
          <span style="margin-left: 22px">Employees</span>
        </div>
        <div *ngIf="isActive">
          <div 
            *ngFor="let employee of listEmployee"
            class="content-card-staff mq-background-gray"
          >
          <card-staff 
            class="card-size"
              [firstName] = "employee.firstName"
              [lastName] = "employee.lastname"
              role = "Employee" 
          >
          <div>
            <ion-buttons slot="end">
              <ion-button style="padding-right: 25px;" (click)="goToProfileEmployee(employee.username, employee.role)">
                <ion-icon role="button" name="chevron-forward-outline" class="size-icon"></ion-icon>
              </ion-button>
            </ion-buttons>
          </div>
          </card-staff>
        </div>
      </div>
      <div  *ngIf="listEmployee.length === 0">
        <ion-list>
          <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
            <ion-thumbnail slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
       
 </ion-content>

 <tab [rol]="manager.role"></tab>
