
.tex-size {
  font-size: 10px;
  margin-bottom: 5px;
}

.text-size-name {
  font-size: 14px;
  margin-bottom: 1px;
  font-weight:600 ;
}

@media(min-width:800px){

.tex-size {
  font-size: 12px;
  margin-bottom: 5px;
}

.text-size-name {
  font-size: 16px;
  margin-bottom: 1px;
  font-weight:600 ;
}
}