/**** GLOBAL ****/
.mq-dflex{
  display: flex;
}

.mq-flex-direcciont-column {
  flex-direction: column;
}

.mq-content{
  width: 100%;
}

.mq-text-color{
  color: var(--text-color, #030C6E);
}

.mq-text-color-gray{
  color: var(--text-color-gray, #676767);
}

.mq-text-color-white {
  color: var(--text-color-white, #ffff);
}

.mq-text-building {
  font-size: 14px;
  font-weight: 600;
}

.mq-background-gray{
  background-color: #EBEBEB;
}

.mq-background-color-gray {
  background-color: #EBEBEB;
  height:100%
}

.mq-content-background-gray {
  background-color: #EBEBEB;
  width: 100%;
  height: 100%;
 
}

.mq-content-background-white {
  background-color: #ffff;
  width: 100%;
  height: 100%;
}

.mq-card{
  height: 80px;
  border-radius: 10px;
  margin-bottom: 8.5px;
  margin-top: 8.5px;
  margin-right: 22px;
  margin-left: 22px;
}

.mq-tab{
  height: 78px!important;
  border: 0rem;
}

.mq-toolbar-large {
  --background: linear-gradient(180deg, #030A58, #0514AF);
  height: var(--height, 100px);
}

.mq-toolbar-small {
  --background: linear-gradient(180deg, #030A58, #0514AF);
  height: var(--height, 70px);
  display: flex;
}

.mq-img-card-building {
  margin-left: 30px;
  margin-right: 32px;
  width: 31.1px;
  height: 36px;
}

.mq-button-profile {
  display: flex;
  justify-content: end;
  padding-right: 0.8rem;
}



/**** GLOBAL ****/


/**** ADMIN - MANAGER ***/

.mq-content-data-time {
  display: flex !important;
  width: 100%;
  justify-content: space-around;
  height: 135px;
  flex-direction: column;
  background: #ffff;
}

.mq-content-card-profile {
  height: 300px;
  display: flex;
  flex-direction:column;
  justify-content: center;
}

/**** ADMIN - MANAGER ***/

@media(min-width:800px){
  .mq-card{
    height: 120px;
    border-radius: 10px;
    margin-bottom: 18px;
    margin-top: 18px;
    margin-right: 22px;
    margin-left: 22px;
  }

  .mq-text-building {
    font-size: 20px;
    font-weight: 600;
  }

  .mq-tab{
    display: flex;
    justify-content: space-around;
    height: 100px!important;
    border: 0rem!important;
  }

  .mq-content-card-profile {
    height: 480px;
    display: flex;
    flex-direction:column;
    justify-content: center;
  }


  .mq-content-data-time {
  display: flex !important;
  width: 100%;
  justify-content: space-around;
  height: 160px;
  flex-direction: column;
  background: #ffff;
  }
}