<div class="content mq-background-gray">
  <div class="mq-dflex">
    <ion-card class="card-small"> 
      <div class="worked">
        <span>{{nameBuilding}}</span>
        <span>WORKING...</span>
      </div>
    </ion-card>
  </div>
  <div 
    class="mq-dflex ion-justify-content-center mq-background-gray" 
    style="margin-bottom: 2rem;margin-top: 2rem;"
  > 
    <div class="content-button-start-shift">
      <ion-button 
        (click)="endShift()" 
        class="button-start-shift mq-font-bold"
        color="mq-red"
      >
        <div><p>END</p><p>SHIFT</p></div>
      </ion-button>
    </div>
  </div>
  