<ion-card class="mq-card" style="display: flex;align-items: center;">
  <div>
    <ion-avatar class="avatar">
      <img 
        class="photo"
        [style.background-image]="'url(' + photo + ')'" 
      />
    </ion-avatar>
  </div>
    <div style="display: flex;flex-direction: column;width: 100%;">
      <span class="mq-text-color-gray mq-font-bold text-size-name">{{firstName | titlecase}} {{lastName | titlecase}}</span>
      <span class="mq-text-color-gray tex-size">{{role | titlecase}}</span>
      <span class="mq-text-color-gray tex-size">{{posistion | titlecase}}</span>
    </div>
    <div style="display: flex;flex-direction: column;">
      <ng-content></ng-content>
    </div>
</ion-card>