<ion-header>
  <ion-toolbar mode="ios" class="mq-toolbar-small">
    <ion-buttons slot="start" class="ion-padding-start">
      <ion-back-button 
        mode = "ios"
        text="" 
        defaultHref="/"
        color="light"
      >
      </ion-back-button>  
    </ion-buttons>
    <ion-title style="color: #ffff;font-size: 14px;">Approve Hours</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table class="container">
    <tr class="header-table">
      <th>Day</th>
      <th>Date</th>
      <th>Hours</th>
      <th>
        <ion-icon style="width: 20px; height: 20px; margin-right: -12px" name="checkbox"></ion-icon>
      </th>
      <th>
        <ion-icon style="width: 20px; height: 20px; margin-right: -2px" name="close-circle"></ion-icon>
      </th>
    </tr>
  </table>
  <table class="container">
    <tbody *ngFor="let week of hoursFirstTable;">
      <tr>
        <td class="row-day">Sun</td>
        <td class="row-date">{{week.sundayDate}}</td>
        <td class="row-hours">{{week.sunday}} Hours</td>
        <td class="row-check">
          <ion-radio-group (ionChange)="setApprove($event, week.sundayDate)">
            <ion-radio style="right: 10%;" value="Y"></ion-radio>
            <ion-radio style="left: 10%;" value="N"></ion-radio>
          </ion-radio-group>
        </td>
      </tr>
      <tr>
        <td class="row-day">Mon</td>
        <td class="row-date">{{week.mondayDate}}</td>
        <td class="row-hours">{{week.monday}} Hours</td>
        <td class="row-check">
          <ion-radio-group (ionChange)="setApprove($event, week.mondayDate)">
            <ion-radio style="right: 10%;" value="Y"></ion-radio>
            <ion-radio style="left: 10%;" value="N"></ion-radio>
          </ion-radio-group>
        </td>
      </tr>
      <tr>
        <td class="row-day">Tue</td>
        <td class="row-date">{{week.tuesdayDate}}</td>
        <td class="row-hours">{{week.tuesday}} Hours</td>
        <td class="row-check">
          <ion-radio-group (ionChange)="setApprove($event, week.tuesdayDate)">
            <ion-radio style="right: 10%;" value="Y"></ion-radio>
            <ion-radio style="left: 10%;" value="N"></ion-radio>
          </ion-radio-group>
        </td>
      </tr>
      <tr>
        <td class="row-day">Wed</td>
        <td class="row-date">{{week.wednesdayDate}}</td>
        <td class="row-hours">{{week.wednesday}} Hours</td>
        <td class="row-check">
          <ion-radio-group (ionChange)="setApprove($event, week.wednesdayDate)">
            <ion-radio style="right: 10%;" value="Y"></ion-radio>
            <ion-radio style="left: 10%;" value="N"></ion-radio>
          </ion-radio-group>
        </td>
      </tr>
      <tr>
        <td class="row-day">Thu</td>
        <td class="row-date">{{week.thursdayDate}}</td>
        <td class="row-hours">{{week.thursday}} Hours</td>
        <td class="row-check">
          <ion-radio-group (ionChange)="setApprove($event, week.thursdayDate)">
            <ion-radio style="right: 10%;" value="Y"></ion-radio>
            <ion-radio style="left: 10%;" value="N"></ion-radio>
          </ion-radio-group>
        </td>
      </tr>
      <tr>
        <td class="row-day">Fri</td>
        <td class="row-date">{{week.fridayDate}}</td>
        <td class="row-hours">{{week.friday}} Hours</td>
        <td class="row-check">
          <ion-radio-group (ionChange)="setApprove($event, week.fridayDate)">
            <ion-radio style="right: 10%;" value="Y"></ion-radio>
            <ion-radio style="left: 10%;" value="N"></ion-radio>
          </ion-radio-group>
        </td>
      </tr>
      <tr>
        <td class="row-day">Sat</td>
        <td class="row-date">{{week.saturdayDate}}</td>
        <td class="row-hours">{{week.saturday}} Hours</td>
        <td class="row-check">
          <ion-radio-group (ionChange)="setApprove($event, week.saturdayDate)">
            <ion-radio style="right: 10%;" value="Y"></ion-radio>
            <ion-radio style="left: 10%;" value="N"></ion-radio>
          </ion-radio-group>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="weekly-total-hours-row">
    <tr>
      <td class="weekly-row">Weekly Total Hours</td>
      <th class="total-hours-row">{{sumFirstTable}} Horas</th>
    </tr>
  </table> 
  <br>
  <table class="container">
    <tbody *ngFor="let week of hoursSecondTable;">
      <tr>
        <td class="row-day">Sun</td>
        <td class="row-date">{{week.sundayDate}}</td>
        <td class="row-hours">{{week.sunday}} Hours</td>
        <td class="row-check">
          <ion-radio-group (ionChange)="setApproveSecond($event, week.sundayDate)">
            <ion-radio style="right: 10%;" value="Y"></ion-radio>
            <ion-radio style="left: 10%;" value="N"></ion-radio>
          </ion-radio-group>
        </td>
      </tr>
      <tr>
        <td class="row-day">Mon</td>
        <td class="row-date">{{week.mondayDate}}</td>
        <td class="row-hours">{{week.monday}} Hours</td>
        <td class="row-check">
          <ion-radio-group (ionChange)="setApproveSecond($event, week.mondayDate)">
            <ion-radio style="right: 10%;" value="Y"></ion-radio>
            <ion-radio style="left: 10%;" value="N"></ion-radio>
          </ion-radio-group>
        </td>
      </tr>
      <tr>
        <td class="row-day">Tue</td>
        <td class="row-date">{{week.tuesdayDate}}</td>
        <td class="row-hours">{{week.tuesday}} Hours</td>
        <td class="row-check">
          <ion-radio-group (ionChange)="setApproveSecond($event, week.tuesdayDate)">
            <ion-radio style="right: 10%;" value="Y"></ion-radio>
            <ion-radio style="left: 10%;" value="N"></ion-radio>
          </ion-radio-group>
        </td>
      </tr>
      <tr>
        <td class="row-day">Wed</td>
        <td class="row-date">{{week.wednesdayDate}}</td>
        <td class="row-hours">{{week.wednesday}} Hours</td>
        <td class="row-check">
          <ion-radio-group (ionChange)="setApproveSecond($event, week.wednesdayDate)">
            <ion-radio style="right: 10%;" value="Y"></ion-radio>
            <ion-radio style="left: 10%;" value="N"></ion-radio>
          </ion-radio-group>
        </td>
      </tr>
      <tr>
        <td class="row-day">Thu</td>
        <td class="row-date">{{week.thursdayDate}}</td>
        <td class="row-hours">{{week.thursday}} Hours</td>
        <td class="row-check">
          <ion-radio-group (ionChange)="setApproveSecond($event, week.thursdayDate)">
            <ion-radio style="right: 10%;" value="Y"></ion-radio>
            <ion-radio style="left: 10%;" value="N"></ion-radio>
          </ion-radio-group>
        </td>
      </tr>
      <tr>
        <td class="row-day">Fri</td>
        <td class="row-date">{{week.fridayDate}}</td>
        <td class="row-hours">{{week.friday}} Hours</td>
        <td class="row-check">
          <ion-radio-group (ionChange)="setApproveSecond($event, week.fridayDate)">
            <ion-radio style="right: 10%;" value="Y"></ion-radio>
            <ion-radio style="left: 10%;" value="N"></ion-radio>
          </ion-radio-group>
        </td>
      </tr>
      <tr>
        <td class="row-day">Sat</td>
        <td class="row-date">{{week.saturdayDate}}</td>
        <td class="row-hours">{{week.saturday}} Hours</td>
        <td class="row-check">
          <ion-radio-group (ionChange)="setApproveSecond($event, week.saturdayDate)">
            <ion-radio style="right: 10%;" value="Y"></ion-radio>
            <ion-radio style="left: 10%;" value="N"></ion-radio>
          </ion-radio-group>
        </td>
      </tr>
    </tbody>
  </table> 
  <table class="weekly-total-hours-row">
    <tr>
      <td class="weekly-row">Weekly Total Hours</td>
      <th class="total-hours-row">{{sumSecondTable}} Horas</th>
    </tr>
  </table>
  <table class="weekly-total-hours-row">
    <tr>
      <td class="combined-total-hours-row-second-table">Combined Total Hours</td>
      <th class="combined-hours-row">{{sumTotal}} Horas</th>
    </tr>
  </table>
  <br>
  <ion-button class="mq-font-bold" color="light" expand="block" (click)="postApproveHoursService()">APPROVE</ion-button>
  
</ion-content>
