.row-day{
  height:50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #FFFFFF;
  background: #05108A;
  justify-content: center;
}
.row-date{
  height:50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #FFFFFF;
  background: #040D6C;
  justify-content: center;
}
.row-hours{
  height:50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #FFFFFF;
  background: #00064E;
  justify-content: center;
}
.row-check{
  height:50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #FFFFFF;
  background: #343342;
  justify-content: space-evenly;
}
.container{
  width: 100%;
  text-align: center;
}
.header-table{
  background-color: #EBEBEB;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  color: #676767;
  font-size: 12px;
}

.icons {
  justify-content: space-evenly;
}

.content-radio-button {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

}

.day-week {
  height:37px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #FFFFFF;
  background: #05108A;
  justify-content: center;
}

.weekly-row{
  background-color: #00064E;
  color: #FFFFFF;
  height:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: end;
}
.total-hours-row{
  height:40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #343342;
  color: #FFFFFF;
  font-size: 10px;
}

.combined-total-hours-row{
  background-color: #AF0000;
  height:35px;
  display: flex;
  align-items: center;
  justify-content: end;
  color: #FFFFFF;
  ;
}
.combined-hours-row{
  background-color: #AF0000;
  height:35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

.size-data{
  color: #ffff;
  font-size: 12px;
}

.size-weekly-total{
  padding-right: 25px; 
  color: #ffff;
  font-size: 12px;
}

@media(min-width:500px){

  .row-day{
    height:67px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #FFFFFF;
    background: #05108A;
    justify-content: center;
  }
  .row-date{
    height:67px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #FFFFFF;
    background: #040D6C;
    justify-content: center;
  }
  .row-hours{
    height:67px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #FFFFFF;
    background: #00064E;
    justify-content: center;
  }
  .row-check{
    height:67px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #FFFFFF;
    background: #343342;
    justify-content: space-evenly;
  }
  .container{
    width: 100%;
    text-align: center;
  }
  .header-table{
    background-color: #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    color: #676767;
    font-size: 12px;
  }
  
  .icons {
    justify-content: space-evenly;
  }
  
  .content-radio-button {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  
  }
  
  .day-week {
    height:37px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #FFFFFF;
    background: #05108A;
    justify-content: center;
  }
  

  .weekly-row{
    background-color: #00064E;
    color: #FFFFFF;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: end;
  }
  .total-hours-row{
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #343342;
    color: #FFFFFF;
    font-size: 10px;
  }

  .combined-total-hours-row{
    background-color: #AF0000;
    height:35px;
    display: flex;
    align-items: center;
    justify-content: end;
    color: #FFFFFF;
    ;
  }
  .combined-hours-row{
    background-color: #AF0000;
    height:35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
  }

  .size-data{
    color: #ffff;
    font-size: 15px;
  }

  .size-weekly-total{
    padding-right: 25px; 
    color: #ffff;
    font-size: 15px;
  }

}