<ion-header>
  <ion-toolbar mode="ios" class="toolbar-content">
    <ion-buttons slot="start" class="ion-padding-start">
      <ion-back-button 
        mode = "ios"
        text="" 
        defaultHref="/"
        color="light"
      >
      </ion-back-button>
    </ion-buttons>
    <ion-text color="light"> 
      <ion-title>Tracking</ion-title>
    </ion-text>
  </ion-toolbar>
  <ion-toolbar mode="ios" class="toolbar-position mq-font-bold">
    <ion-buttons slot="end" class="ion-padding-end">
      <ion-back-button 
        mode = "ios"
        text="" 
        icon = "navigate"
        defaultHref="/"
        color="light"
      >
      </ion-back-button>
    </ion-buttons>
    <ion-text color="light" class="mq-font-bold"> 
      <ion-title>Meryland School</ion-title>
    </ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: flex;align-items: center;height: 100%;flex-direction: column;margin: 1rem;">
    <span class="mq-font-bold">STAR SHIFT</span>
    <ion-card id="start"></ion-card>
    <span class="mq-font-bold">END SHIFT</span>
    <ion-card id="end"></ion-card>
  </div>
</ion-content>
