.content {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background: #ffff;display: flex;
  justify-content: center;
  align-content: end;
  align-items: center;
  flex-direction: column;
}

.content-hours {
  font-size: 80px;
  height: 85px;
  justify-content: center;
  display: flex;
  align-items: center;
}