.weekly{
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
}

.date{
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 50px;
}

.time{
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

@media(min-width:800px){

  .weekly{
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
  }
  
  .date{
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: 63px;
    line-height: 50px;
  }
  
  .time{
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 19px;
  }
}