.content {
  background: #EBEBEB;
  height: 100%;
}

.approve {
  height: 70px!important;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
}

.approve .text {
  color:#AF0000;
  font-weight: 600;
  margin-bottom: 8px
}
